.cerulean {
  background: #98b2d1;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.cerulean:hover {
  transform: scale(1.1);
}

.fuchsia.rose {
  background: #c74375;
  height: 100px;
  width: 100px;
  margin: 10px;
}
.fuchsia.rose:hover {
  transform: scale(1.2);
}

.true {
  background: #bf1932;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.true:hover {
  transform: scale(1.2);
}
.aqua {
  background: #7bc4c4;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.aqua:hover {
  transform: scale(1.2);
}
.tigerlily {
  background: #e2583e;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.tigerlily:hover {
  transform: scale(1.2);
}
.blue.turquoise {
  background: #53b0ae;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.blue.turquoise:hover {
  transform: scale(1.2);
}
.sand.dollar {
  background: #decdbe;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.sand.dollar:hover {
  transform: scale(1.2);
}
.chili.pepper {
  background: #9b1b30;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.chili.pepper:hover {
  transform: scale(1.2);
}
.blue.iris {
  background: #5a5b9f;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.blue.iris:hover {
  transform: scale(1.2);
}

.mimosa {
  background: #f0c05a;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.mimosa:hover {
  transform: scale(1.2);
}
.turquoise {
  background: #45b5aa;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.turquoise:hover {
  transform: scale(1.2);
}
.honeysuckle {
  background: #d94f70;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}
.honeysuckle:hover {
  transform: scale(1.2);
}
.cards {
  display: flex;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  text-align: center;
}
